<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>哔哩哔哩-校园招聘</title>
	<link rel="shortcut icon" href="https://public-cdn.mokahr.com/0cc86258-5f8a-4ddb-9bbd-25109efd400f.jpg" type="image/x-icon">
	<link rel="stylesheet" href="./school.css">
</head>
<body>
	<header>
		<section>
			<a href="#"></a>
		</section>
		<section>
			<div>
				<span>首页</span>
				<span>招聘职位</span>
			</div>
			<div>
				<span>社会招聘</span>
				<span>登录</span>
			</div>
		</section>
	</header>
	<article>
		<section>
			<div>
				<input type="text" placeholder="输入职位关键字">
				<a href="#">搜索职位</a>
			</div>
			<div></div>
		</section>
		<section>
			<div>招聘职位
				<div></div>
			</div>
			<ul>
				<li>
					<span>技术类</span>
					<span>共58个职位</span>
				</li>
				<li>
					<span>游戏类（上海）</span>
					<span>共42个职位</span>
				</li>
				<li>
					<span>产品运营类</span>
					<span>共23个职位</span>
				</li>
				<li>
					<span>内容类</span>
					<span>共18个职位</span>
				</li>
				<li>
					<span>游戏类（北京）</span>
					<span>共16个职位</span>
				</li>
				<li>
					<span>市场营销类</span>
					<span>共9个职位</span>
				</li>
				<li>
					<span>设计类</span>
					<span>共7个职位</span>
				</li>
				<li>
					<span>职能类</span>
					<span>共4个职位</span>
				</li>
				<li>
					<span>运营保障类</span>
					<span>共1个职位</span>
				</li>
			</ul>
		</section>
	</article>
	<footer>
		<a href="#"></a>
	</footer>
</body>
</html>