<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>哔哩哔哩社会招聘</title>
	<link rel="shortcut icon" href="../images/bilibili-fill.png" type="image/x-icon">
	<link rel="stylesheet" href="./social.css">
</head>
<body>
	<aside>
		<!-- bilibili招聘 -->
		<div></div>
		<div>
			<!-- 工作地点 -->
			<div>
				<div>
					<span></span>
					<span>工作地点</span>
				</div>
				<ul>
					<li>其他</li>
					<li>上海市</li>
					<li>北京市</li>
					<li>武汉市</li>
					<li>芜湖市</li>
					<li>南京市</li>
					<li>重庆市</li>
					<li>杭州市</li>
				</ul>
			</div>
			<!-- 职业类别 -->
			<div>
				<div>
					<span></span>
					<span>职位类别</span>
				</div>
				<ul>
					<li>实习生</li>
					<li>游戏类（北京）</li>
					<li>技术类</li>
					<li>游戏类（上海）</li>
					<li>内容类</li>
					<li>市场营销类</li>
					<li>职能类</li>
					<li>运营保障类</li>
					<li>产品运营类</li>
					<li>设计类</li>
					<li>电竞类</li>
					<li>猫儿FM</li>
					<li>文创类</li>
					<li>项目管理类</li>
					<li>超电文化</li>
				</ul>
			</div>
			<!-- 简历投递邮箱 -->
			<div>
				<p>作品及简历投递邮箱</p>
				<p>zhaopin@bilibili.com</p>
				<p>邮件标题格式</p>
				<p>"职位名-真名-来自主站"</p>
			</div>
		</div>
	</aside>
	<article>
		<div>
			<div></div>
			<div>所有职位</div>
			<div>共823个职位在招</div>
		</div>
		<div>
			<div>职位名称</div>
			<div>职位类别</div>
			<div>工作地点</div>
		</div>
		<div>
			<div>
				<div>高级/资深前端开发工程师</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>商业市场经理</div>
				<div>市场营销类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>高级活动运营（互动社交方向）</div>
				<div>产品运营类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>移动端数据分析师</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>资深/高级iOS开发工程师</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>资深/高级Android开发工程师</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>泰语翻译</div>
				<div>内容类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>服务端开发工程师（golang）</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>算法实习生（计算机视觉）</div>
				<div>技术类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>项目专员/经理(虚拟偶像项目)</div>
				<div>项目管理类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>用户研究专员</div>
				<div>游戏类（上海）</div>
				<div>上海市</div>
			</div>
			<div>
				<div>会员产品经理</div>
				<div>产品运营类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>用户端产品经理</div>
				<div>产品运营类</div>
				<div>上海市</div>
			</div>
			<div>
				<div>资深游戏运营（海外代理游戏国内发行）</div>
				<div>游戏类（上海）</div>
				<div>上海市</div>
			</div>
		</div>
		<div>
			<div>共 59 页</div>
			<div class="a b">1</div>
			<div class="a">2</div>
			<div class="a">3</div>
			<div class="a">4</div>
			<div class="a">5</div>
			<div class="a">6</div>
			<div>...</div>
			<div class="a">59</div>
			<div class="a">下一页</div>
		</div>
	</article>
	<section>
		<img src="https://static.hdslb.com/activity/jobs/img/sit.png">
	</section>
</body>
</html>